:root {
    --textColor: rgba(20, 20, 20, 0.95);
}


.register-page {
    height: calc(100vh - 54.75px);
}

.register-form {
    position: relative;
    height: 100%;
    margin: 0 auto;
    /* font-family: "Kanit", sans-serif; */
    /* font-family: "DM Sans", sans-serif; */
    font-family: "Outfit", sans-serif;
    padding: .8rem;
    max-width: 370px;
    /* box-shadow: 1px 1px 3px rgba(47, 47, 47, 0.45); */
}

.register-input-group {
    height: clamp(70px, 12vh, 85px);
    display: flex;
    flex-direction: column;
    margin-top: clamp(.85rem, 1.7vh, 1.5rem);

    position: relative;
}

.register-label {
    font-size: clamp(.8rem, 2.3vh, 1.17rem);
    font-weight: 400;
    margin-bottom: .16rem;
    margin-left: .2rem;
    color: var(--textColor);
}

.icon-input-group {
    height: 100%;
    position: relative;
}

.register-input {
    height: 100%;
    width: 100%;
    border-radius: 2px;
    border: .5px solid rgba(20, 20, 20, 0.35);
    box-shadow: 1px 1px 3px rgba(20, 20, 20, 0.55);
    text-indent: 40px;
    font-size: clamp(1rem, 2vh, 1.3rem);
    color: rgba(47, 47, 47, 0.9);
}

.register-input:focus {
    outline: 2px solid #2542a2;
}

.register-user-icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: .5rem;
}



.register-button {
    font-size: clamp(1.5rem, 3vh, 1.8rem);
    font-family: inherit;
    font-weight: 500;
    margin: 1.5rem 0;
    padding: .8em 0;

    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    outline: 3px solid white;
    outline-offset: -8px;
    border-radius: 2px;
    background: #2542a2;
    color: white;

    letter-spacing: 2px;

    border: none;
    text-transform: uppercase;
    cursor: pointer;

    transition: all 200ms ease;
}

.register-button:hover {
    /* outline: 3px solid white;
    outline-offset: -8px;
    font-size: 1.55rem;
    padding: 1.1rem 0;
    margin: 1.65rem 0; */
    opacity: .9;
}

.login-link-text {
    text-align: center;
    color: rgba(0, 0, 0, 0.85);
}

.login-link {
    text-transform: none;
    color: rgba(0, 0, 0, 0.9);
    cursor: pointer;
    font-weight: 500;
}

.input-validation {
    opacity: 0;
    position: absolute;
    /* background: rgb(220, 50, 13); */
    background: rgb(235, 7, 7);
    color: white;
    top: 122%;
    right: 3%;
    width: fit-content;
    border-radius: 3px;
    z-index: 99;
    padding: .7rem;

    outline: 2px solid white;
    outline-offset: -6px;

    display: none;
    align-items: center;
    justify-content: center;

    line-height: 16px;

    text-align: center;

    transition: none;
}

.input-validation::before {
    content: '';
    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
    background: transparent;

    bottom: 98%;
    right: 13%;
    /* transform: translateX(-50%); */

    border: 9px solid transparent;
    border-bottom: 9px solid rgb(235, 7, 7);
    /* #17A551 */
    border-radius: 2px;
}

.active-validation {
    display: flex;
    opacity: 1;
    transition: opacity 900ms ease;
}

.input-validation-message {
    font-size: .85rem;
    max-width: 135px;
}

@media (min-width: 1024px) {
    .register-page {
        height: calc(100vh - 80.9px);
        display: flex;
        align-items: center;
    }

    .register-form {
        height: fit-content;
        box-shadow: 1px 1px 3px #2542a26d;
        padding: 1rem;
        margin: 0 auto 0 auto;
    }

    .input-validation {
        right: unset;
        left: 104%;
        top: 50%;
        transform: translateY(-50%);
        width: 200px;
    }

    .input-validation::before {
        bottom: unset;
        /* top: 50%; */
        /* transform: translateX(-50%); */
        right: 99%;
        rotate: -90deg;

        border: 10px solid transparent;
        border-bottom: 10px solid rgb(220, 50, 13);
        ;
    }

}